.square{
    background-color: #00c853;
}

.voteBtn{
    border-radius: 50%;
    height: 80px;
}

.voteBtnText{
    vertical-align: middle;
}

body{
 background-color: #eeeeee;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

a{
    margin: 0px 0px 0px 0px;
}


